.advantages {
  padding-top: 20px;
  margin-bottom: 44px;
}

.advantages__title {
  display: inline-block;
  vertical-align: top;

  margin-bottom: 35px;
}

.advantages__list {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  list-style: none;

  color: $brown;

  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.advantages__item {
  position: relative;

  width: 280px;
  margin-bottom: 26px;

  &:last-child {
    margin: 0;
  }
}

.advantages__description {
  width: 200px;
  margin: 0;
  margin-left: 80px;

  &::before {
    content: "";

    position: absolute;
    top: -4px;
    left: 0;

    display: block;

    width: 60px;
    height: 60px;

    background: $green;
  }

  &::after {
    content: "";

    position: absolute;
    top: 1px;
    left: 5px;

    width: 40px;
    height: 40px;
  }

  &--organic {
    &::after {
      background: url("../img/advantage-leaf1x.png") no-repeat;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-leaf2x.png");
        background-size: 50px;
      }
    }
  }

  &--consistency {
    &::after {
      background: url("../img/advantage-powder1x.png") no-repeat;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-powder2x.png");
        background-size: 50px;
      }
    }
  }

  &--food {
    &::after {
      background: url("../img/advantage-dining1x.png") no-repeat;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-dining2x.png");
        background-size: 50px;
      }
    }
  }

  &--time {
    &::after {
      background: url("../img/advantage-clock1x.png") no-repeat;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-clock2x.png");
        background-size: 50px;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 54px;
    margin: 0;
  }

  .advantages__title {
    margin-bottom: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;

    counter-reset: section;

    font-size: 16px;
    line-height: 24px;
  }

  .advantages__item {
    width: 325px;
    padding: 110px 0 50px 0;
    margin-bottom: 84px;

    &:nth-last-child(-n+2) {
      margin: 0;
    }

    &::before {
      position: absolute;
      z-index: -1;
      top: 87px;
      right: 78px;

      counter-increment: section;
      content: counter(section);

      color: $grey;

      font-family: "Oswald", sans-serif;
      font-size: 281px;
    }

    &:first-child {
      &::before {
        right: 95px;
      }
    }
  }

  .advantages__description {
    width: 246px;
    margin: 0;

    &::before {
      top: -2px;

      width: 80px;
      height: 80px;
    }

    &::after {
      top: 13px;
      left: 15px;

      width: 40px;
      height: 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding: 0;
    padding-top: 58px;

    border: none;
  }

  .advantages__title {
    margin-bottom: 49px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
  }

  .advantages__item {
    margin: 0;
    width: 245px;
    padding-top: 120px;

    &:nth-last-child(-n+2) {
      margin: 0;
    }

    &::before {
      top: 97px;
      right: 0;
    }

    &:first-child::before {
      right: 16px;
    }
  }

  .advantages__description {
    &::before {
      top: 9px;
      left: 0;
    }

    &::after {
      top: 22px;
      left: 15px;

      width: 40px;
      height: 40px;
    }
  }
}
