.advantages {
  outline: 1px solid red;
  padding-bottom: 42px;
  padding-top: 32px;
}

.advantages__list {
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $brown;
}
