.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;


  &--secondly {
    padding: 0;
  }

  &--base {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    &--secondly {
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }

    &--thirdly {
      padding-right: 66px;
      padding-left: 70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1300px;
    padding-left: 40px;
    padding-right: 40px;

    &--secondly {
      max-width: 1300px;
      padding-left: 40px;
      padding-right: 40px;
    }

    &--thirdly {
      max-width: 1300px;
      padding-left: 40px;
      padding-right: 40px;
    }

    &--base {
      padding: 0;
    }
  }
}
