.copyright__link {
  display: flex;
  justify-content: space-between;

  width: 100%;

  &:focus {
    opacity: 0.3;
  }
}

.copyright__icon {
  width: 27px;
  height: 34px;

  fill: $brown;

  &:hover,
  &:focus {
    fill: $green;
  }
}

.copyright__text {
  color: $brown;

  font-family: "ArialMT", sans-serif;
  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 164px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    width: 125px;
  }
}
