.copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.copyright__text {
  font-family: "ArialMT", sans-serif;
  font-size: 16px;
  color: $brown;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 164px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    width: 125px;
  }
}
