.example {
  padding-top: 18px;
  padding-bottom: 32px;

  background: $grey;
}

.example__section-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.example__description-wrapper {
  width: 100%;
}

.example__title {
  margin: 0;
  margin-bottom: 26px;
}

.example__text {
  width: 266px;
  margin: 0;
  margin-bottom: 22px;

  color: $brown;

  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.example__price-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  margin-bottom: 38px;
}

.example__result-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.example__result {
  position: relative;

  width: 124px;
  padding: 15px;

  border: 1px solid $grey2;
  border-radius: 5px;
}

.example__price {
  align-self: center;

  width: 100%;
  margin: 0;
  margin-top: 36px;

  text-align: center;
  text-transform: uppercase;

  font-size: 14px;
  line-height: 20px;
}

.example__value {
  display: block;

  text-transform: uppercase;
  text-align: center;

  font-size: 24px;
  line-height: 24px;
}

.example__field {
  position: absolute;
  top: 48px;
  left: 17px;

  padding: 0 8px 0 8px;
  width: 87px;

  text-align: center;

  color: $brown;
  background: $grey;

  font-family: "ArialMT", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.example__image-wrapper {
  min-height: 265px;
  width: 100%;
  background: url("../img/before-mobile1x.png") no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile2x.png.jpg");
  }
}

.example__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.example__button-wrapper {
  display: flex;
  justify-content: space-around;

  width: 220px;

  text-transform: uppercase;
  cursor: pointer;

  font-size: 16px;
  line-height: 20px;
}

.example__before,
.example__after {
  width: 50px;

  border: none;
  text-transform: uppercase;

  background: transparent;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
}


.example__track {
  align-self: center;

  width: 84px;
  height: 14px;

  border-radius: 6px;
  border: 1px solid $grey2;

  background: $white;
}

.example__cursor {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 6px;

    width: 35px;
    height: 6px;

    border-radius: 3px;

    background: $green;
  }
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;

    padding-bottom: 72px;
    padding-top: 40px;

    border-top: 1px solid $grey2;

    background: linear-gradient(to bottom, $white 0, $white 211px, $white 400px, $grey 100%);
  }

  .example__description-wrapper {
    width: 100%;
  }

  .example__title {
    margin: 0;
    margin-bottom: 64px;
  }

  .example__text {
    width: 678px;
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__price-wrapper {
    width: 100%;
    margin-bottom: 86px;
  }

  .example__result-wrapper {
    width: 366px;
  }

  .example__result {
    width: 162px;
    padding: 20px;
  }

  .example__price {
    align-self: center;

    width: 174px;
    margin: 0;

    text-align: right;

    font-size: 20px;
    line-height: 20px;
  }

  .example__price-value {
    display: inline-block;

    margin-top: 9px;
  }

  .example__image-wrapper {
    height: 532px;
    background: url("../img/before-tablet1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet2x.png.jpg");
    }
  }

  .example__button-wrapper {
    width: 600px;
  }

  .example__value {
    width: 100%;

    font-size: 30px;
    line-height: 1;
  }

  .example__field {
    top: 77px;
    left: 10px;

    background: $white;

    font-size: 14px;
    line-height: 14px;

    &--weight {
      top: 63px;
      left: 22px;

      width: 115px;
    }

    &--time {
      top: 63px;
      left: 8px;

      width: 143px;
    }
  }

  .example__button {
    width: 100%;

    font-size: 20px;
  }

  .example__image-before {
    width: 50%;
    height: 449px;
  }

  .example__image-after {
    width: 50%;
    height: 517px;
  }

  .example__before,
  .example__after {
    width: 64px;

    font-size: 20px;
  }

  .example__cursor {
    &::before {
      top: -14px;
      left: 198px;

      width: 34px;
      height: 34px;

      border: 1px solid $grey2;
      border-radius: 50%;

      background: $white;
    }

    &::after {
      content: "";

      position: absolute;
      top: -1px;
      left: 211px;

      width: 8px;
      height: 8px;

      border-radius: 50%;

      background: $green;
    }
  }

  .example__track {
    width: 428px;
    height: 6px;

    border: none;
    border-radius: 2.5px;

    background: $grey3;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 20px;
    padding-bottom: 67px;

    border: none;

    background: linear-gradient(to bottom, $white 0, $white 157px, $grey 157px, $grey 100%);
  }

  .example__title {
    width: 100%;
    margin: 0;
    margin-bottom: 147px;
  }

  .example__text {
    width: 432px;
    margin-bottom: 68px;
  }

  .example__description-wrapper {
    width: 50%;
  }

  .example__result-wrapper {
    width: 367px;
    margin: 0;
  }

  .example__result {
    padding: 17px 29px 21px 29px;
  }

  .example__price {
    width: 435px;
    margin-top: 53px;

    text-align: left;
  }

  .example__price-value {
    margin-left: 59px;
  }

  .example__field {
    background: $grey;
  }

  .example__image-wrapper {
    min-height: 517px;
    background: url("../img/before-desktop1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/before-desktop2x.png.jpg");
    }
  }

  .example__wrapper {
    width: 50%;
  }

  .example__button {
    width: 50%;
  }
}
