.extra-products {
  outline: 1px solid red;
  padding-top: 31px;
  padding-bottom: 39px;
}

.extra-products__value {
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $brown;
}

.extra-products__field {
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $brown;
}
