.extra {
  width: 100%;
  padding: 0;
  margin-bottom: 40px;

  border: 0;
}

.extra__title-wrapper {
  position: relative;

  margin-left: -22px;
  margin-right: -22px;

  &::before {
    content: "";

    z-index: -1;
    position: absolute;
    top: 13px;
    left: 0;

    width: 100vw;
    height: 3px;

    background: $green;
  }

  &::after {
    content: "";

    z-index: -1;
    position: absolute;
    top: 13px;
    right: 0;

    width: 100vw;
    height: 3px;

    background: $green;
  }
}

.extra__title {
  display: inline-block;
  vertical-align: baseline;

  width: 183px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 36px;

  background: $white;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.extra__field {
  position: absolute;
  top: 0;
  left: 0;

  width: 30px;
  height: 30px;

  opacity: 0;
}

.extra__item {
  position: relative;

  margin-bottom: 18px;
  width: 100%;

  &:last-child {
    margin: 0;
  }
}

.extra__value {
  display: block;
  padding-left: 46px;

  cursor: pointer;

  &::after {
    content: "";

    position: absolute;
    left: 5px;
    top: 4px;

    height: 20px;
    width: 20px;

    background: url("../img/icon-tick.svg") no-repeat center;

    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    border: 1px solid $grey2;
    height: 30px;
    width: 30px;
  }

  &:hover {
    &::before {
      border: 1px solid $grey4;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.extra__field:checked + .extra__value::after {
  opacity: 1;
}

.extra__field:focus ~ .extra__value::before {
  outline: 1px solid grey;
}

.extra__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  margin: 0;
  margin-left: -3px;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .extra {
    margin-bottom: 18px;
    padding: 0;
  }

  .extra__title-wrapper {
    margin-left: -70px;
    margin-right: -67px;
    padding-left: 28px;

    &::after,
    &::before {
      top: 15px;
    }
  }

  .extra__title {
    width: 290px;
    margin-bottom: 71px;
    padding: 0 40px 0 40px;

    font-size: 36px;
  }

  .extra__list {
    margin-bottom: 48px;
  }

  .extra__item {
    width: 286px;
    margin-bottom: 52px;

    &:nth-last-child(-n+2) {
      margin: 0;
    }
  }

  .extra__value {
    padding: 0 0 0 60px;

    &::before {
      top: -8px;
      left: 0;

      width: 40px;
      height: 40px;
    }

    &::after {
      top: 2px;
      left: 11px;
    }
  }
}

@media (min-width: $desktop-width) {
  .extra {
    margin-bottom: 34px;
  }

  .extra__list {
    margin-bottom: 38px;
  }

  .extra__item {
    width: 241px;
    margin: 0;
  }

  .extra__title-wrapper {
    margin-left: -43px;
    margin-right: -40px;
    padding: 0;
  }

  .extra__title {
    width: 292px;
    margin-bottom: 70px;
  }

  .extra__custom {
    padding: 0 0 0 60px;

    &::before {
      top: -3px;
    }
  }
}
