.extra-products {
  margin-bottom: 39px;
  width: 100%;
}

.extra-products__title {
  display: inline-block;
  vertical-align: baseline;

  width: 266px;
  margin: 0;
  margin-bottom: 4px;
  padding: 0 20px 0 20px;

  background: $white;

  font-size: 24px;
  font-weight: 400;
}

.extra-products-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.extra-products__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  margin: 0;
  padding: 9px 0 18px 0;

  border-bottom: 1px solid $grey2;

  &:first-child {
    border-top: 1px solid $grey2;
  }
}

.extra-products__item-title {
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
}

.extra-products__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 13px;
}

.extra-products__description {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 0;
}

.extra-products__value,
.extra-products__field {
  width: 50%;

  color: $brown;

  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.extra-products__field {
  text-align: right;
}

.extra-products__link {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .extra-products {
    margin-bottom: 69px;
  }

  .extra-products__title {
    margin-bottom: 72px;
    padding-left: 36px;
    width: 410px;

    font-size: 36px;
  }

  .extra-products__item {
    padding: 25px 37px 26px 37px;

    border: 1px solid $grey2;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid $grey2;
    }
  }

  .extra-products__item-title {
    margin: 0;
    width: 163px;
  }

  .extra-products__content-wrapper {
    flex-wrap: nowrap;
    align-items: baseline;

    margin-bottom: 23px;
  }

  .extra-products__description {
    width: 226px;
  }

  .extra-products__value,
  .extra-products__field {
    font-size: 16px;
    line-height: 20px;
  }

  .extra-products__value {
    width: 133px;

    text-align: right;
  }

  .extra-products__field {
    width: 47px;
  }
}

@media (min-width: $desktop-width) {
  .extra-products__wrapper {
    flex-wrap: nowrap;
  }

  .extra-products__title-wrapper {
    margin-left: -40px;
    margin-right: -40px;
  }

  .extra-products__content-wrapper {
    margin: 0;
    width: 615px;
  }

  .extra-products__title {
    width: 410px;
    margin-left: 4px;
    margin-bottom: 73px;
  }

  .extra-products {
    width: 895px;
    margin: 0;
  }

  .extra-products__item {
    flex-wrap: nowrap;
    align-items: baseline;

    padding: 16px 0 15px 0;

    border: none;
    border-bottom: 1px solid $grey2;
  }

  .extra-products__item-title {
    width: 160px;
  }

  .extra-products__description {
    width: 291px;
  }

  .extra-products__value {
    width: 134px;

    text-align: left;
  }

  .extra-products__field {
    width: 48px;
  }

  .extra-products__link {
    width: 245px;
  }
}
