.extra {
  width: 100%;
  border: 0;
  padding: 0;
  margin-bottom: 19px;
}

.extra__title-wrapper {
  position: relative;
  margin-left: -22px;
  margin-right: -22px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100vw;
    height: 3px;
    background: $green;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 100vw;
    height: 3px;
    background: $green;
    z-index: -1;
  }
}

.extra__title {
  width: 183px;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  vertical-align: baseline;
  background: $white;
  padding-right: 20px;
  padding-left: 20px;
}

.extra__field {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.extra__custom {
  position: relative;
  padding: 0 0 0 46px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $grey2;
    background: $white;
  }
}

.extra__field:checked + .extra__custom::before {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-size: 20px;
}

.extra__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin: 0;
  margin-left: -3px;
  padding: 0;
}

.extra__item {
  width: 100%;
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .extra {
    margin-bottom: 14px;
    padding: 0;
  }

  .extra__title-wrapper {
    margin-left: -70px;
    margin-right: -67px;
    padding-left: 28px;

    &::after,
    &::before {
      top: 15px;
    }
  }

  .extra__title {
    width: 290px;
    margin-bottom: 71px;
    font-size: 36px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .extra__list {
    margin-bottom: 48px;
  }

  .extra__item {
    width: 286px;
    margin-bottom: 48px;

    &:nth-last-child(-n+2) {
      margin: 0;
    }
  }

  .extra__custom {
    padding: 0 0 0 60px;

    &::before {
      top: -2px;
      left: 0;
      width: 40px;
      height: 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .extra {
    margin-bottom: 29px;
  }

  .extra__list {
    margin-bottom: 38px;
  }

  .extra__item {
    width: 241px;
    margin: 0;
  }

  .extra__title-wrapper {
    margin-left: -43px;
    margin-right: -40px;
    padding: 0;
  }

  .extra__title {
    width: 292px;
    margin-bottom: 70px;
  }

  .extra__custom {
    padding: 0 0 0 60px;

    &::before {
      top: -3px;
    }
  }
}
