.form {
  padding-bottom: 34px;
}

.form__title-wrapper {
  position: relative;
  margin-left: -22px;
  margin-right: -22px;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 100vw;
    height: 3px;
    background: $green;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 0;
    width: 100vw;
    height: 3px;
    background: $green;
    z-index: -1;
  }
}

.form__title {
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  vertical-align: baseline;
  background: $white;
  padding-right: 20px;
  padding-left: 20px;

  &--comment {
    width: 162px;
    margin-bottom: 35px;
  }

  &--contacts {
    width: 221px;
    margin-bottom: 34px;
  }
}

.form__program {
  display: flex;
  flex-wrap: wrap;
}

.form__info {
  border: 0;
  width: 100%;
  padding: 0;
}

.form__info-item {
  display: flex;
  width: 100%;
  margin-bottom: 14px;
}

.form__info-field {
  flex-grow: 1;
  height: 45px;
  border: 1px solid $grey2;
  font-family: "Oswald", sans-serif;
  color: $brown;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 16px;
}

.form__info-value {
  align-self: center;
  margin-right: 15px;

  &--first {
    width: 33px;
  }

  &--second {
    width: 59px;
  }

  &--third {
    width: 94px;
    margin-right: 13px;
  }
}

.form__type-program {
  padding: 34px 0 25px 0;
  margin-bottom: 28px;
  border: 0;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background: $grey2;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background: $grey2;
  }
}

.form__program-item {
  margin-bottom: 18px;
  position: relative;

  &:last-child {
    margin: 0;
  }
}

.form__program-field {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__program-custom {
  position: relative;
  padding-right: 44px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -4px;
    width: 30px;
    height: 30px;
    border: 1px solid $grey2;
    border-radius: 50%;
    background: $white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $green;
    opacity: 0;
  }
}

.form__program-field:checked + .form__program-custom::after {
  opacity: 1;
}

.form__program-value:focus {
  opacity: 0.3;
}

.form__contacts {
  margin-bottom: 14px;
  width: 100%;
  padding: 0;
  border: 0;
}

.form__contacts-item {
  display: flex;
  position: relative;
  margin: 0;
  margin-bottom: 14px;

  &--mail {
    &::after {
      content: "";
      position: absolute;
      top: 15px;
      right: 12px;
      width: 18px;
      height: 14px;
      background: url("../img/icon-mail.svg") no-repeat;
      opacity: 0.5;
    }
  }

  &--phone {
    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 12px;
      width: 21px;
      height: 21px;
      background: url("../img/icon-phone.svg") no-repeat;
      opacity: 0.5;
    }
  }
}

.form__contacts-value {
  align-self: center;
  margin-left: -4px;

  &--first {
    width: 50px;
    margin-right: 13px;
  }

  &--second {
    width: 67px;
    margin-right: 10px;
  }
}

.form__contacts-field {
  flex-grow: 1;
  height: 45px;
  border: 1px solid $grey2;
  font-family: "Oswald", sans-serif;
  color: $brown;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 16px;
}


.form__comment {
  margin-bottom: 24px;
  padding: 0;
  border: 0;
  position: relative;
  width: 100%;
}

.form__comment-description {
  width: 100%;
  font-family: "Oswald", sans-serif;
  color: $brown;
  border: 1px solid $grey2;
  padding: 9px 7px 0 13px;
  min-height: 149px;
}

.form__important {
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 10px;
  color: $brown;
  text-align: center;
  width: 100%;
}

.form__button {
  border: none;
  width: 280px;
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 71px;
  }

  .form__program {
    padding: 0;
  }

  .form__title-wrapper {
    margin-left: -70px;
    margin-right: -67px;
    padding-left: 28px;

    &::after,
    &::before {
      top: 15px;
    }
  }

  .form__title {
    font-size: 36px;
    padding-right: 40px;
    padding-left: 40px;

    &--contacts {
      width: 593px;
      margin-bottom: 82px;
    }

    &--comment {
      width: 259px;
      margin-bottom: 81px;
    }
  }

  .form__info {
    margin-bottom: 52px;
    padding: 0;
    border: none;
  }

  .form__info-item {
    margin-bottom: 20px;
    padding: 0;
  }

  .form__info-field {
    height: 52px;
    font-size: 20px;
    padding-left: 21px;
  }

  .form__type-program {
    margin-bottom: 82px;
    padding: 32px 0 28px 28px;
    border: 1px solid $grey2;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .form__program-item {
    margin-bottom: 30px;
  }

  .form__program-custom {
    padding-right: 56px;

    &::before {
      top: -5px;
      left: -1px;
      width: 40px;
      height: 40px;
    }

    &::after {
      top: 6px;
      left: 10px;
      width: 18px;
      height: 18px;
    }
  }

  .form__info-value {
    &--first {
      width: 50px;
      margin-right: 12px;
    }

    &--second {
      width: 74px;
      margin-right: 12px;
    }

    &--third {
      width: 117px;
      margin-right: 12px;
    }
  }

  .form__contacts {
    margin-bottom: 52px;
    padding: 0;
  }

  .form__contacts-item {
    margin-bottom: 20px;

    &--mail {
      &::after {
        top: 20px;
        right: 20px;
      }
    }

    &--phone {
      &::after {
        top: 18px;
        right: 17px;
      }
    }
  }

  .form__contacts-field {
    height: 52px;
    padding-left: 20px;
    font-size: 20px;
  }

  .form__contacts-value {
    margin: 0;

    &--first {
      width: 62px;
      margin-right: 24px;
    }

    &--second {
      width: 83px;
      margin-right: 14px;
    }
  }

  .form__comment {
    margin-bottom: 66px;
    padding: 0;
  }

  .form__comment-description {
    width: 100%;
    min-height: 174px;
    padding: 14px 7px 0 16px;
  }

  .form__button {
    margin: 0;
    width: 283px;
  }

  .form__important {
    font-size: 16px;
    width: 200px;
    margin-left: 53px;
    line-height: 20px;
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-bottom: 82px;
  }

  .form__program {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .form__title-wrapper {
    margin-left: -43px;
    margin-right: -40px;
    padding: 0;
  }

  .form__title {
    margin-bottom: 81px;
  }

  .form__info {
    width: 570px;
  }

  .form__info-value {
    margin-right: 13px;

    &--first {
      width: 50px;
    }

    &--second {
      width: 81px;
    }

    &--third {
      width: 118px;
    }
  }

  .form__type-program {
    width: 570px;
    margin-bottom: 73px;
  }

  .form__program-item {
    margin-bottom: 33px;
  }

  .form__contacts {
    margin-bottom: 71px;
  }

  .form__contacts-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .form__contacts-item {
    width: 570px;
    margin: 0;
  }

  .form__contacts-value {
    &--first {
      width: 62px;
      margin-right: 21px;
    }

    &--second {
      width: 83px;
      margin-right: 17px;
    }
  }

  .form__comment {
    width: 100%;
    margin-bottom: 71px;
  }

  .form__button {
    width: 568px;
  }

  .form__important {
    margin-right: 377px;
  }
}
