.page-footer {
  background: $grey;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-footer__logo {
  width: 100%;
  padding-bottom: 29px;
  padding-top: 20px;

  border-bottom: 1px solid $grey2;
}

.page-footer__logo-image {
  display: block;

  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.page-footer__social {
  width: 100%;
  padding-top: 21px;
  padding-bottom: 18px;

  border-bottom: 1px solid $grey2;
}

.page-footer__copyright {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 48px;
    padding-bottom: 52px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    padding: 0;

    border: none;
  }


  .page-footer__logo {
    width: 163px;
  }

  .page-footer__logo-image {
    margin-right: auto;
    display: inline-block;
  }

  .page-footer__social {
    width: 140px;
  }

  .page-footer__copyright {
    width: 163px;
  }
}
