.products {
  padding-top: 18px;
}

.products__title {
  margin: 0;
  margin-bottom: 33px;
}

.products__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.products__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  padding-bottom: 25px;
  width: 100%;


  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: -20px;
    right: 0;

    width: calc(100% + 40px);
    height: 1px;

    background: $grey2;
  }

  &:first-child {
    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: -20px;
      right: 0;

      width: calc(100% + 40px);
      height: 1px;

      background: $grey2;
    }
  }

  &:last-child {
    position: relative;

    justify-content: center;

    &::before {
      content: "";

      position: absolute;
      top: 26px;
      left: 124px;

      width: 31px;
      height: 31px;

      opacity: 0.2;
      background: url("../img/icon-plus-mobile.svg") no-repeat center;
    }
  }
}

.products__image {
  width: 140px;
}

.products__table {
  width: 140px;
  padding-top: 11px;
}

.products__caption {
  display: block;

  width: 74px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 9px;
  margin-left: -3px;

  text-align: left;

  line-height: 20px;
}

.products__table-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 140px;
  margin-left: -2px;
}

.products__value,
.products__field {
  width: 44px;
  padding: 0;

  font-family: "ArialMT", sans-serif;
  font-size: 12px;
  line-height: 16px;

  color: $brown;
}

.products__field {
  text-align: right;
}

.products__value {
  text-align: left;
}


.products__intro {
  margin-top: 78px;
  margin-bottom: 6px;
}

.products__text {
  margin: 0;
  margin-bottom: 25px;

  color: $brown;

  font-family: "ArialMT", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.products__link {
  width: 100%;
  margin-top: -5px;

  color: $white;
  background-color: $green;

  &--all {
    background-color: $grey;
    color: $brown;

    &:hover {
      background-color: $white-three;
    }

    &:focus {
      background-color: $white-three;
      color: $greyish-brown-30;
    }
  }
}

.products__wrapper {
  position: relative;

  width: 100%;
  padding-top: 23px;
  padding-bottom: 35px;
}

.products__section-wrapper {
  position: relative;
  padding-top: 24px;

  &::after {
    content: "";

    z-index: -1;
    position: absolute;
    top: 43px;
    right: 0;

    width: 100vw;
    height: 3px;

    background: $green;
  }
}

@media (min-width: $tablet-width) {
  .products {
    padding-top: 38px;
  }

  .products__title {
    margin: 0;
    margin-bottom: 150px;
  }

  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .products__item {
    position: relative;

    width: 324px;
    margin-bottom: 139px;
    padding: 122px 38px 40px 38px;

    background: $grey;

    &::after {
      display: none;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    &:last-child {
      padding: 165px 38px 40px 38px;

      text-align: center;
      border: 1px solid $grey2;

      background: $white;

      &::before {
        content: "";

        top: 54px;
        left: 131px;

        width: 61px;
        height: 61px;

        background: url("../img/icon-plus.svg") no-repeat center;
      }
    }
  }

  .products__image {
    position: absolute;
    bottom: 304px;
    left: 0;

    width: 324px;
  }

  .products__link-image {
    margin: 0;
  }

  .products__table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    padding-top: 41px;
    margin-bottom: 34px;
  }

  .products__caption {
    width: 152px;
    margin: 0;
    margin-bottom: 22px;

    text-align: center;
  }

  .products__table-list {
    width: 100%;
  }

  .products__table-item {
    width: 100%;
    padding-bottom: 8px;
    padding-top: 6px;
    margin: 0;

    border-bottom: 1px solid $grey2;
  }

  .products__value,
  .products__field {
    width: 65px;

    font-size: 16px;
    line-height: 16px;
  }

  .products__field {
    text-align: right;
  }

  .products__text {
    margin: 0 0 81px;
    width: 169px;

    font-size: 16px;
    line-height: 20px;
  }

  .products__intro {
    display: inline-block;
    vertical-align: center;

    width: 140px;
    margin: 0;
    margin-bottom: 25px;
  }

  .products__wrapper {
    padding: 0;
    padding-bottom: 77px;
  }

  .products__link {
    margin: 0;
    width: 100%;
  }

  .products__section-wrapper {
    padding-top: 58px;

    &::after {
      top: 89px;
    }
  }
}

@media (min-width: $desktop-width) {
  .products {
    padding-top: 57px;
    margin-bottom: 67px;
  }

  .products__item {
    width: 245px;
    padding-bottom: 38px;
    padding-top: 124px;
    margin-bottom: 141px;

    &:last-child {
      &::before {
        content: "";

        top: 53px;
        left: 92px;
      }
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }

  .products__table {
    margin-bottom: 32px;
  }

  .products__link-image {
    margin-bottom: 33px;
  }

  .products__image {
    width: 245px;
  }

  .products__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    padding-bottom: 86px;
  }

  .products__section-wrapper {
    padding-top: 66px;

    &::after {
      top: 96px;
    }
  }
}
