.programs__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.programs__item {
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  margin-bottom: 20px;
  padding: 24px 20px 19px 20px;

  background-color: $grey;

  &::before {
    content: "";

    position: absolute;
    left: 22px;
    top: 24px;

    display: block;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background: $green;
  }

  &:first-child {
    &::after {
      content: "";

      position: absolute;
      left: 30px;
      top: 22px;

      width: 35px;
      height: 49px;

      background: url("../img/icon-cat-slim.svg") no-repeat;
    }
  }

  &:last-child {
    margin: 0;

    &::after {
      content: "";

      position: absolute;
      top: 35px;
      left: 13px;

      width: 67px;
      height: 28px;

      background: url("../img/icon-cat-pro.svg") no-repeat;
    }
  }
}

.programs__title {
  margin: 6px 0 31px 0;
  width: 100%;
  padding-left: 70px;
}

.programs__description {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;

  color: $brown;

  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}


.programs__link {
  position: relative;
  display: block;
  order: 4;

  width: 100%;
  padding-top: 20px;
  padding-bottom: 3px;

  text-transform: uppercase;
  cursor: pointer;

  border-top: 1px solid $grey2;

  font-size: 16px;
  line-height: 16px;

  &:focus {
    opacity: 0.3;
  }

  &::after {
    content: "";

    position: absolute;
    top: 23px;
    left: 97px;
    width: 24px;
    height: 11px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat center;
  }

  &--pro {
    &::after {
      left: 95px;
    }
  }
}

.programs__link:hover::after {
  width: 33px;
  height: 11px;
  background: url("../img/icon-right-arrow-verylong.svg") no-repeat center;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: $tablet-width) {
  .programs__item {
    padding: 75px 283px 61px 53px;
    margin-bottom: 31px;

    &::before {
      top: 90px;
      left: auto;
      right: 60px;

      width: 200px;
      height: 200px;
    }

    &:first-child {
      &::after {
        top: 78px;
        left: auto;
        right: 91px;

        height: 194px;
        width: 141px;
      }
    }

    &:last-child {
      padding-right: 315px;

      &::after {
        top: 134px;
        left: auto;
        right: 27px;

        width: 268px;
        height: 113px;
      }
    }
  }

  .programs__title {
    width: 100%;
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
  }

  .programs__description {
    margin-bottom: 56px;

    font-size: 16px;
    line-height: 24px;
  }

  .programs__link {
    border: none;
    padding: 0;

    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 5px;
      left: 131px;
    }

    &--pro {
      &::after {
        left: 124px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  .programs__item {
    width: 570px;
    margin: 0;
    padding: 77px 54px 63px 53px;

    &::before {
      top: 48px;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &:first-child {
      &::after {
        top: 42px;
        left: 66px;

        height: 97px;
        width: 91px;
      }
    }

    &:last-child {
      padding-right: 54px;

      &::after {
        top: 70px;
        left: 34px;

        height: 64px;
        width: 134px;
      }
    }
  }

  .programs__title {
    margin-bottom: 74px;
    padding-left: 161px;
  }

  .programs__description {
    margin-bottom: 31px;

    font-size: 16px;
    line-height: 24px;
  }

  .programs__link {
    padding: 0;

    font-size: 20px;
    line-height: 20px;
  }
}
