.promo {
  outline: 1px solid red;
}

.promo__title {
  font-size: 36px;
  font-weight: 400;
}

.promo__intro {
  font-size: 14px;
  text-transform: uppercase;
}

.promo__link {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $mobile-width) {
  .promo {
    background-color: $green;
    background-image: url("../img/index-background-mobile1x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: $white;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    background: $white;
    color: $black;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background: url("../img/index-background-desktop1x.jpg") no-repeat 50%;
    background-position: right;
    background-color: linear-gradient(to right, $white 50%, $green 50%);
    color: $black;
    margin-top: -151px;
    padding: 262px;
  }
}
