.stocks {
  min-height: 289px;
  background: url("../img/gift-photo-mobile1x.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 70px;
    left: 120px;
    width: 56px;
    height: 61px;
    background: url("../img/icon-gift.svg") no-repeat;
  }
}

.stocks__wrapper {
  font-family: "ArialMT", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.stocks__info {
  width: 159px;
  color: $white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .stocks {
    position: relative;
    width: 100%;
    margin: 0;
    min-height: 200px;
    background: url("../img/gift-photo-tablet1x.jpg") no-repeat center;
    background-size: cover;

    &::before {
      content: "";
      position: absolute;
      top: 60px;
      left: 100px;
      width: 56px;
      height: 61px;
      background: url("../img/icon-gift.svg") no-repeat;
    }
  }

  .stocks__wrapper {
    margin-left: 424px;
    margin-top: 65px;
  }
}

@media (min-width: $desktop-width) {
  .stocks {
    min-height: 289px;
    background: url("../img/gift-photo-desktop1x.jpg") no-repeat;
    background-size: cover;
    width: 245px;
    margin: 0;
  }

  .stocks__wrapper {
    margin-top: 182px;
    margin-left: 46px;
  }
}
