.title-description {
  text-transform: uppercase;

  font-size: 16px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .title-description {
    font-size: 20px;
    line-height: 20px;
  }
}
