@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2");
  src: url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2");
  src: url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ArialMT";
  src: url("../fonts/ArialMT.woff2") format("woff2");
  src: url("../fonts/ArialMT.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.advantages {
  padding-top: 20px;
  margin-bottom: 44px; }

.advantages__title {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 36px; }

.advantages__list {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  list-style: none;
  color: #444444;
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 18px; }

.advantages__item {
  position: relative;
  width: 280px;
  margin-bottom: 26px; }
  .advantages__item:last-child {
    margin: 0; }

.advantages__description {
  width: 200px;
  margin: 0;
  margin-left: 80px; }
  .advantages__description::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background: #68b738; }
  .advantages__description::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 5px;
    width: 40px;
    height: 40px; }
  .advantages__description--organic::after {
    background: url("../img/advantage-leaf1x.png") no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
      .advantages__description--organic::after {
        background-image: url("../img/advantage-leaf2x.png");
        background-size: 50px; } }
  .advantages__description--consistency::after {
    background: url("../img/advantage-powder1x.png") no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
      .advantages__description--consistency::after {
        background-image: url("../img/advantage-powder2x.png");
        background-size: 50px; } }
  .advantages__description--food::after {
    background: url("../img/advantage-dining1x.png") no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
      .advantages__description--food::after {
        background-image: url("../img/advantage-dining2x.png");
        background-size: 50px; } }
  .advantages__description--time::after {
    background: url("../img/advantage-clock1x.png") no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
      .advantages__description--time::after {
        background-image: url("../img/advantage-clock2x.png");
        background-size: 50px; } }

@media (min-width: 768px) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 54px;
    margin: 0; }
  .advantages__title {
    margin-bottom: 60px; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    counter-reset: section;
    font-size: 16px;
    line-height: 24px; }
  .advantages__item {
    width: 325px;
    padding: 110px 0 50px 0;
    margin-bottom: 84px; }
    .advantages__item:nth-last-child(-n+2) {
      margin: 0; }
    .advantages__item::before {
      position: absolute;
      z-index: -1;
      top: 87px;
      right: 78px;
      counter-increment: section;
      content: counter(section);
      color: #f2f2f2;
      font-family: "Oswald", sans-serif;
      font-size: 281px; }
    .advantages__item:first-child::before {
      right: 95px; }
  .advantages__description {
    width: 246px;
    margin: 0; }
    .advantages__description::before {
      content: "";
      width: 80px;
      height: 80px; }
    .advantages__description::after {
      content: "";
      position: absolute;
      top: 13px;
      left: 15px;
      width: 40px;
      height: 40px; } }

@media (min-width: 1300px) {
  .advantages {
    padding: 0;
    padding-top: 58px;
    border: none; }
  .advantages__title {
    margin-bottom: 49px; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0; }
  .advantages__item {
    margin: 0;
    width: 245px;
    padding-top: 120px; }
    .advantages__item:nth-last-child(-n+2) {
      margin: 0; }
    .advantages__item::before {
      top: 97px;
      right: 0; }
    .advantages__item:first-child::before {
      right: 16px; }
  .advantages__description::before {
    top: 9px;
    left: 0; }
  .advantages__description::after {
    top: 22px;
    left: 15px;
    width: 40px;
    height: 40px; } }

.button {
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px; }
  .button:hover {
    background-color: #5eaa2f; }
  .button:focus {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3); }
  .button--big {
    font-size: 14px; }

@media (min-width: 768px) {
  .button--big {
    padding: 16px 0;
    font-size: 20px;
    line-height: 1; } }

.contacts {
  background: #f2f2f2; }

.contacts__wrapper--primary {
  background: #ffffff; }

.contacts__details {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 6px 28px 0; }

.contacts__promo {
  width: 123px;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px; }

.contacts__text {
  width: 134px;
  margin: 0;
  color: #444444;
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 20px; }

.contacts__map {
  width: 100%;
  min-height: 380px;
  background: url("../img/bg-map-mobile1x.png") no-repeat;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/bg-map-mobile2x.png"); } }

@media (min-width: 768px) {
  .contacts__details {
    padding: 66px 41px 57px 41px; }
  .contacts__promo {
    width: 154px;
    margin: 0;
    font-size: 20px;
    line-height: 25px; }
  .contacts__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 155px;
    margin: 0;
    margin-top: -3px;
    text-align: right;
    font-size: 16px;
    line-height: 20px; }
  .contacts__address {
    display: inline-block;
    vertical-align: auto;
    margin-bottom: 19px;
    text-align: right; }
  .contacts__city {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .contacts__map {
    width: 100%;
    min-height: 400px;
    background: url("../img/bg-map-tablet1x.png") no-repeat;
    background-size: cover; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/bg-map-tablet2x.png"); } }

@media (min-width: 1300px) {
  .contacts__wrapper {
    position: relative; }
  .contacts__details {
    position: absolute;
    top: 94px;
    left: 40px;
    width: 570px;
    padding: 66px 89px 57px 76px;
    background: #ffffff; }
  .contacts__map {
    width: 100%;
    min-height: 400px;
    background: url("../img/bg-map-desktop1x.png") no-repeat;
    background-size: cover; } }
  @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/bg-map-desktop2x.png"); } }

@media (min-width: 1300px) {
  .contacts__address,
  .contacts__city {
    width: 100%;
    text-align: left; } }

.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .copyright__link:focus {
    opacity: 0.3; }

.copyright__icon {
  width: 40px;
  height: 40px;
  margin-right: -5px;
  fill: #444444; }
  .copyright__icon:hover, .copyright__icon:focus {
    fill: #68b738; }

.copyright__text {
  -ms-flex-item-align: center;
      align-self: center;
  color: #444444;
  font-family: "ArialMT", sans-serif;
  font-size: 16px; }

@media (min-width: 768px) {
  .copyright {
    width: 164px; } }

@media (min-width: 1300px) {
  .copyright {
    width: 125px; } }

.example {
  padding-top: 20px;
  padding-bottom: 32px;
  background: #f2f2f2; }

.example__section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.example__description-wrapper {
  width: 100%; }

.example__title {
  margin: 0;
  margin-bottom: 29px; }

.example__text {
  width: 266px;
  margin: 0;
  margin-bottom: 23px;
  color: #444444;
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 18px; }

.example__price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 38px; }

.example__result-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

.example__result {
  position: relative;
  width: 124px;
  padding: 15px;
  border: 1px solid #cdcdcd;
  border-radius: 5px; }

.example__price {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  margin: 0;
  margin-top: 36px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px; }

.example__value {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 24px; }

.example__field {
  position: absolute;
  top: 47px;
  left: 17px;
  padding: 0 8px 0 8px;
  width: 87px;
  text-align: center;
  color: #444444;
  background: #f2f2f2;
  font-family: "ArialMT", sans-serif;
  font-size: 12px;
  line-height: 12px; }

.example__image-wrapper {
  min-height: 265px;
  width: 100%; }

.example__image-after {
  display: none; }

.example__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.example__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 220px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px; }

.example__before,
.example__after {
  width: 50px;
  border: none;
  text-transform: uppercase;
  background: transparent;
  font-family: "Oswald", sans-serif;
  font-size: 16px; }

.example__track {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background: #ffffff; }

.example__cursor::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background: #68b738; }

@media (min-width: 768px) {
  .example {
    position: relative;
    padding-bottom: 77px;
    padding-top: 27px;
    border-top: 1px solid #cdcdcd;
    background: linear-gradient(to bottom, #ffffff 0, #ffffff 211px, #ffffff 400px, #f2f2f2 100%); }
  .example__description-wrapper {
    width: 100%; }
  .example__title {
    margin: 0;
    margin-bottom: 50px; }
  .example__text {
    width: 678px;
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px; }
  .example__price-wrapper {
    width: 100%;
    margin-bottom: 86px; }
  .example__result-wrapper {
    width: 366px; }
  .example__result {
    width: 162px;
    padding: 20px; }
  .example__price {
    -ms-flex-item-align: center;
        align-self: center;
    width: 174px;
    margin: 0;
    text-align: right;
    font-size: 20px;
    line-height: 20px; }
  .example__price-value {
    display: inline-block;
    margin-top: 9px; }
  .example__image-before-wrapper {
    height: 532px;
    width: 50%; }
  .example__button-wrapper {
    width: 600px; }
  .example__value {
    width: 100%;
    font-size: 30px;
    line-height: 1; }
  .example__field {
    top: 77px;
    left: 10px;
    background: #ffffff;
    font-size: 14px;
    line-height: 14px; }
    .example__field--weight {
      top: 63px;
      left: 22px;
      width: 115px; }
    .example__field--time {
      top: 63px;
      left: 8px;
      width: 143px; }
  .example__button {
    width: 100%;
    font-size: 20px; }
  .example__image-before {
    width: 690px; }
  .example__image-after-wrapper {
    display: block;
    width: 50%;
    overflow: hidden; }
  .example__before,
  .example__after {
    width: 57px;
    padding: 0;
    font-size: 20px; }
  .example__cursor {
    position: absolute;
    top: -14px;
    left: 198px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background: #ffffff; }
    .example__cursor:hover {
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25); }
    .example__cursor:focus {
      border: 2px solid #68b738;
      -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
              box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); }
    .example__cursor::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #68b738; }
  .example__track {
    width: 428px;
    height: 6px;
    border: none;
    border-radius: 2.5px;
    background: #eaeaea; } }

@media (min-width: 1300px) {
  .example {
    padding: 0;
    padding-bottom: 75px;
    border: none;
    background: linear-gradient(to bottom, #ffffff 0, #ffffff 212px, #f2f2f2 212px, #f2f2f2 100%); }
  .example__title {
    width: 100%;
    margin: 0;
    margin-bottom: 131px; }
  .example__text {
    width: 432px;
    margin-bottom: 68px; }
  .example__description-wrapper {
    width: 580px;
    padding-top: 61px;
    margin-right: auto; }
  .example__button {
    width: 50%; }
  .example__result-wrapper {
    width: 367px;
    margin: 0; }
  .example__result {
    padding: 17px 29px 21px 29px; }
  .example__price-wrapper {
    margin: 0; }
  .example__price {
    width: 435px;
    margin-top: 53px;
    text-align: left; }
  .example__price-value {
    margin-left: 59px; }
  .example__field {
    background: #f2f2f2; }
  .example__image-wrapper {
    min-height: 517px; }
  .example__button-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 572px;
    margin-left: auto;
    margin-top: auto; }
  .example__wrapper {
    width: 50%; } }

.extra {
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
  border: 0; }

.extra__title-wrapper {
  position: relative;
  margin-left: -22px;
  margin-right: -22px; }
  .extra__title-wrapper::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 13px;
    left: 0;
    width: 100vw;
    height: 3px;
    background: #68b738; }
  .extra__title-wrapper::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 13px;
    right: 0;
    width: 100vw;
    height: 3px;
    background: #68b738; }

.extra__title {
  display: inline-block;
  vertical-align: baseline;
  width: 183px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 36px;
  background: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400; }

.extra__field {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  opacity: 0; }

.extra__item {
  position: relative;
  margin-bottom: 18px;
  width: 100%; }
  .extra__item:last-child {
    margin: 0; }

.extra__value {
  display: block;
  padding-left: 46px;
  cursor: pointer; }
  .extra__value::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 4px;
    height: 20px;
    width: 20px;
    background: url("../img/icon-tick.svg") no-repeat center;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0; }
  .extra__value::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    border: 1px solid #cdcdcd;
    height: 30px;
    width: 30px; }
  .extra__value:hover::before {
    border: 1px solid #bababa; }
  .extra__value:active {
    opacity: 0.3; }

.extra__field:checked + .extra__value::after {
  opacity: 1; }

.extra__field:focus ~ .extra__value::before {
  outline: 1px solid grey; }

.extra__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-left: -3px;
  padding: 0;
  list-style: none; }

@media (min-width: 768px) {
  .extra {
    margin-bottom: 18px;
    padding: 0; }
  .extra__title-wrapper {
    margin-left: -70px;
    margin-right: -67px;
    padding-left: 28px; }
    .extra__title-wrapper::after, .extra__title-wrapper::before {
      top: 15px; }
  .extra__title {
    width: 290px;
    margin-bottom: 71px;
    padding: 0 40px 0 40px;
    font-size: 36px; }
  .extra__list {
    margin-bottom: 48px; }
  .extra__item {
    width: 286px;
    margin-bottom: 52px; }
    .extra__item:nth-last-child(-n+2) {
      margin: 0; }
  .extra__value {
    padding: 0 0 0 60px; }
    .extra__value::before {
      top: -8px;
      left: 0;
      width: 40px;
      height: 40px; }
    .extra__value::after {
      top: 2px;
      left: 11px; } }

@media (min-width: 1300px) {
  .extra {
    margin-bottom: 34px; }
  .extra__list {
    margin-bottom: 38px; }
  .extra__item {
    width: 241px;
    margin: 0; }
  .extra__title-wrapper {
    margin-left: -43px;
    margin-right: -40px;
    padding: 0; }
  .extra__title {
    width: 292px;
    margin-bottom: 70px; }
  .extra__custom {
    padding: 0 0 0 60px; }
    .extra__custom::before {
      top: -3px; } }

.extra-products {
  margin-bottom: 39px;
  width: 100%; }

.extra-products__title-wrapper {
  position: relative;
  margin-left: -20px;
  margin-right: -20px; }
  .extra-products__title-wrapper::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 19px;
    right: 0;
    width: 100vw;
    height: 3px;
    background: #68b738; }

.extra-products__title {
  display: inline-block;
  vertical-align: baseline;
  width: 266px;
  margin: 0;
  margin-bottom: 27px;
  padding: 0 20px 0 20px;
  background: #ffffff;
  font-size: 24px;
  font-weight: 400; }

.extra-products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 9px 0 18px 0;
  border-bottom: 1px solid #cdcdcd; }
  .extra-products__item:first-child {
    border-top: 1px solid #cdcdcd; }

.extra-products__item-title {
  margin: 0;
  margin-bottom: 10px;
  width: 100%; }

.extra-products__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 13px; }

.extra-products__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0; }

.extra-products__value,
.extra-products__field {
  width: 50%;
  color: #444444;
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 14px; }

.extra-products__field {
  text-align: right; }

.extra-products__link {
  width: 100%; }

@media (min-width: 768px) {
  .extra-products {
    margin-bottom: 69px; }
  .extra-products__title-wrapper {
    margin-left: -30px;
    margin-right: -30px; }
    .extra-products__title-wrapper::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 32px;
      left: 0;
      width: 100vw;
      height: 3px;
      background: #68b738; }
    .extra-products__title-wrapper::after {
      top: 32px;
      right: 0;
      width: 100vw;
      height: 3px; }
  .extra-products__title {
    margin-left: 30px;
    margin-bottom: 72px;
    padding-left: 36px;
    width: 410px;
    font-size: 36px; }
  .extra-products__item {
    padding: 25px 37px 26px 37px;
    border: 1px solid #cdcdcd;
    border-bottom: 0; }
    .extra-products__item:last-child {
      border-bottom: 1px solid #cdcdcd; }
  .extra-products__item-title {
    margin: 0;
    width: 163px; }
  .extra-products__content-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 23px; }
  .extra-products__description {
    width: 226px; }
  .extra-products__value,
  .extra-products__field {
    font-size: 16px;
    line-height: 20px; }
  .extra-products__value {
    width: 133px;
    text-align: right; }
  .extra-products__field {
    width: 47px; } }

@media (min-width: 1300px) {
  .extra-products__wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .extra-products__title-wrapper {
    margin-left: -40px;
    margin-right: -40px; }
  .extra-products__content-wrapper {
    margin: 0;
    width: 615px; }
  .extra-products__title {
    width: 410px;
    margin-left: 4px;
    margin-bottom: 73px; }
  .extra-products {
    width: 895px;
    margin: 0; }
  .extra-products__item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 16px 0 15px 0;
    border: none;
    border-bottom: 1px solid #cdcdcd; }
  .extra-products__item-title {
    width: 160px; }
  .extra-products__description {
    width: 291px; }
  .extra-products__value {
    width: 134px;
    text-align: left; }
  .extra-products__field {
    width: 48px; }
  .extra-products__link {
    width: 245px; } }

.form {
  padding-bottom: 37px; }

.form__title-wrapper {
  position: relative;
  margin-left: -22px;
  margin-right: -22px; }
  .form__title-wrapper::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 13px;
    left: 0;
    width: 100vw;
    height: 3px;
    background: #68b738; }
  .form__title-wrapper::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 13px;
    right: 0;
    width: 100vw;
    height: 3px;
    background: #68b738; }

.form__title {
  display: inline-block;
  vertical-align: baseline;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0;
  background: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400; }
  .form__title--comment {
    width: 162px;
    margin-bottom: 35px; }
  .form__title--contacts {
    width: 221px;
    margin-bottom: 34px; }

.form__program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.form__info {
  width: 100%;
  padding: 0;
  border: 0; }

.form__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 14px; }

.form__info-field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 45px;
  padding-left: 16px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  text-transform: uppercase;
  cursor: pointer;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px; }
  .form__info-field:hover {
    border: 1px solid #cdcdcd; }
  .form__info-field:focus {
    outline: 2px solid #444444; }
  .form__info-field:focus:invalid {
    outline: 2px solid #ff8282; }

.form__info-value {
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 15px; }
  .form__info-value--first {
    width: 33px; }
  .form__info-value--second {
    width: 59px; }
  .form__info-value--third {
    width: 94px;
    margin-right: 13px; }

.form__type-program {
  padding: 28px 0 25px 0;
  margin-bottom: 4px;
  width: 100%;
  border: 0; }

.form__program-item {
  margin-bottom: 9px;
  position: relative; }
  .form__program-item:last-child {
    margin: 0; }

.form__program-field {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 30px;
  width: 30px; }

.form__program-value {
  display: block;
  padding: 5px 0;
  margin-left: 44px;
  cursor: pointer; }
  .form__program-value:active {
    opacity: 0.3; }
  .form__program-value::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background: #ffffff; }
  .form__program-value::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 7px;
    opacity: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #68b738; }
  .form__program-value:hover::before {
    border: 1px solid #bababa; }

.form__program-field:checked + .form__program-value::after {
  opacity: 1; }

.form__program-field:focus ~ .form__program-value::before {
  outline: 1px solid grey; }

.form__contacts {
  margin-bottom: 14px;
  width: 100%;
  padding: 0;
  padding-top: 18px;
  border: 0; }

.form__contacts-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 14px; }

.form__contacts-icon {
  position: absolute;
  top: 13px;
  right: 12px; }
  .form__contacts-icon--mail {
    width: 18px;
    height: 14px; }
  .form__contacts-icon--phone {
    width: 21px;
    height: 21px; }

.form__contacts-value {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: -4px; }
  .form__contacts-value--first {
    width: 50px;
    margin-right: 13px; }
  .form__contacts-value--second {
    width: 67px;
    margin-right: 10px; }

.form__contacts-field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 45px;
  padding-left: 16px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  text-transform: uppercase;
  cursor: pointer;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px; }
  .form__contacts-field:hover {
    border: 1px solid #cdcdcd; }
  .form__contacts-field:focus {
    outline: 2px solid #444444; }
  .form__contacts-field:focus ~ svg {
    fill: #68b738; }
  .form__contacts-field:focus:invalid {
    outline: 2px solid #ff8282; }
  .form__contacts-field:focus:invalid ~ svg {
    fill: #ff8282; }

.form__comment {
  position: relative;
  margin-bottom: 24px;
  padding: 0;
  border: 0;
  width: 100%; }

.form__comment-description {
  width: 100%;
  min-height: 149px;
  padding: 9px 7px 0 13px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  color: #444444;
  font-family: "Oswald", sans-serif; }

.form__important {
  width: 100%;
  text-align: center;
  color: #444444;
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 10px; }

.form__button {
  width: 280px;
  margin-bottom: 18px;
  border: none; }

@media (min-width: 768px) {
  .form {
    padding-bottom: 71px; }
  .form__program {
    padding: 0; }
  .form__title-wrapper {
    margin-left: -70px;
    margin-right: -67px;
    padding-left: 28px; }
    .form__title-wrapper::after, .form__title-wrapper::before {
      top: 15px; }
  .form__title {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 36px; }
    .form__title--contacts {
      width: 593px;
      margin-bottom: 82px; }
    .form__title--comment {
      width: 259px;
      margin-bottom: 81px; }
  .form__info {
    margin-bottom: 52px;
    padding: 0;
    border: none; }
  .form__info-item {
    margin-bottom: 20px;
    padding: 0; }
  .form__info-field {
    height: 52px;
    padding-left: 21px;
    font-size: 20px; }
  .form__type-program {
    margin-bottom: 82px;
    padding: 27px 0 28px 28px;
    border: 1px solid rgba(205, 205, 205, 0.5); }
    .form__type-program::after {
      display: none; }
    .form__type-program::before {
      display: none; }
  .form__program-item {
    margin-bottom: 24px; }
  .form__program-value {
    padding-left: 14px; }
    .form__program-value::before {
      top: -4px;
      left: -2px;
      width: 40px;
      height: 40px; }
    .form__program-value::after {
      top: 8px;
      left: 10px;
      width: 18px;
      height: 18px; }
  .form__info-value--first {
    width: 50px;
    margin-right: 12px; }
  .form__info-value--second {
    width: 74px;
    margin-right: 12px; }
  .form__info-value--third {
    width: 117px;
    margin-right: 12px; }
  .form__contacts {
    margin-bottom: 52px;
    padding: 0; }
  .form__contacts-icon--mail, .form__contacts-icon--phone {
    top: 18px;
    right: 19px; }
  .form__contacts-item {
    margin-bottom: 20px; }
  .form__contacts-field {
    height: 52px;
    padding-left: 20px;
    font-size: 20px; }
  .form__contacts-value {
    margin: 0; }
    .form__contacts-value--first {
      width: 62px;
      margin-right: 18px; }
    .form__contacts-value--second {
      width: 83px;
      margin-right: 14px; }
  .form__comment {
    margin-bottom: 66px;
    padding: 0; }
  .form__comment-description {
    width: 100%;
    min-height: 174px;
    padding: 14px 7px 0 16px; }
  .form__button {
    margin: 0;
    width: 283px; }
  .form__important {
    -ms-flex-item-align: center;
        align-self: center;
    width: 200px;
    margin-left: 53px;
    line-height: 20px;
    font-size: 16px; } }

@media (min-width: 1300px) {
  .form {
    padding-bottom: 82px; }
  .form__program {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .form__title-wrapper {
    margin-left: -43px;
    margin-right: -40px;
    padding: 0; }
  .form__title {
    margin-bottom: 81px; }
  .form__info {
    width: 570px;
    margin-bottom: 56px; }
  .form__info-value {
    margin-right: 13px; }
    .form__info-value--first {
      width: 50px; }
    .form__info-value--second {
      width: 81px; }
    .form__info-value--third {
      width: 118px; }
  .form__type-program {
    width: 570px;
    margin-bottom: 73px; }
  .form__program-item {
    margin-bottom: 24px; }
  .form__program-value::before {
    top: -4px;
    left: 2px; }
  .form__program-value::after {
    top: 8px;
    left: 13px; }
  .form__contacts {
    margin-bottom: 74px; }
  .form__contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .form__contacts-item {
    width: 570px;
    margin: 0; }
  .form__contacts-value--first {
    width: 62px;
    margin-right: 21px; }
  .form__contacts-value--second {
    width: 83px;
    margin-right: 17px; }
  .form__comment {
    width: 100%;
    margin-bottom: 71px; }
  .form__button {
    width: 568px; }
  .form__important {
    margin-right: 377px; } }

.page-footer {
  background: #f2f2f2; }

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-footer__logo {
  width: 100%;
  padding-bottom: 29px;
  padding-top: 20px;
  border-bottom: 1px solid #cdcdcd; }

.page-footer__logo-image {
  display: block;
  margin: 0 auto; }
  .page-footer__logo-image:hover {
    opacity: 0.8; }
  .page-footer__logo-image:focus {
    opacity: 0.6; }

.page-footer__social {
  width: 100%;
  padding-top: 21px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cdcdcd; }

.page-footer__copyright {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 31px; }

@media (min-width: 768px) {
  .page-footer {
    padding-top: 57px;
    padding-bottom: 58px; }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    padding: 0;
    border: none; }
  .page-footer__logo {
    width: 163px; }
  .page-footer__logo-image {
    margin-right: auto;
    display: inline-block; }
  .page-footer__social {
    width: 140px; }
  .page-footer__copyright {
    width: 163px; } }

.page-header {
  position: relative;
  width: 100%;
  padding-top: 12px;
  border-bottom: 1px solid #ededed; }
  .page-header--firstly::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 305px;
    background-color: #68b738;
    background-image: url("../img/index-background-mobile1x.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
      .page-header--firstly::after {
        background-image: url("../img/index-background-mobile2x.jpg"); } }

.page-header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-header__logo-image {
  height: 39px;
  width: 191px;
  margin-bottom: 4.6%; }
  .page-header__logo-image:hover {
    opacity: 0.8; }
  .page-header__logo-image:focus {
    opacity: 0.6; }

@media (min-width: 768px) {
  .page-header {
    padding-top: 23px;
    border: none; }
    .page-header::after {
      display: none; }
  .page-header__logo-image {
    width: 174px;
    height: 59px;
    margin: 0; } }

@media (min-width: 1300px) {
  .page-header {
    padding-top: 52px; }
    .page-header--firstly::after {
      top: 0;
      right: 0;
      left: inherit;
      display: block;
      width: 50%;
      min-height: 696px;
      background-color: #68b738;
      background-image: url("../img/index-background-desktop1x.jpg");
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat; } }
    @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 1.5dppx) {
      .page-header--firstly::after {
        background-image: url("../img/index-background-desktop2x.jpg"); } }

@media (min-width: 1300px) {
  .page-header__logo-image {
    width: 203px;
    height: 60px; } }

.products {
  padding-top: 17px; }

.products__title {
  margin: 0;
  margin-bottom: 33px; }

.products__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.products__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 25px;
  width: 100%; }
  .products__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    right: 0;
    width: calc(100% + 40px);
    height: 1px;
    background: #cdcdcd; }
  .products__item:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    right: 0;
    width: calc(100% + 40px);
    height: 1px;
    background: #cdcdcd; }
  .products__item:last-child {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .products__item:last-child::before {
      content: "";
      position: absolute;
      top: 26px;
      left: 124px;
      width: 31px;
      height: 31px;
      opacity: 0.2;
      background: url("../img/icon-plus-mobile.svg") no-repeat center; }

.products__image {
  width: 140px; }

.products__table {
  width: 140px;
  padding-top: 11px; }

.products__caption {
  display: block;
  width: 74px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 9px;
  margin-left: -3px;
  text-align: left;
  line-height: 20px; }

.products__table-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  margin-left: -2px; }

.products__value,
.products__field {
  width: 44px;
  padding: 0;
  font-family: "ArialMT", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444; }

.products__field {
  text-align: right; }

.products__value {
  text-align: left; }

.products__intro {
  margin-top: 78px;
  margin-bottom: 6px; }

.products__text {
  margin: 0;
  margin-bottom: 25px;
  color: #444444;
  font-family: "ArialMT", sans-serif;
  font-size: 12px;
  line-height: 16px; }

.products__link {
  width: 100%;
  margin-top: -5px;
  color: #ffffff;
  background-color: #68b738; }
  .products__link--all {
    background-color: #f2f2f2;
    color: #444444; }
    .products__link--all:hover {
      background-color: #ebebeb; }
    .products__link--all:focus {
      background-color: #ebebeb;
      color: rgba(68, 68, 68, 0.3); }

.products__wrapper {
  position: relative;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 35px; }

@media (min-width: 768px) {
  .products {
    padding-top: 38px; }
  .products__title {
    margin: 0;
    margin-bottom: 150px; }
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .products__item {
    position: relative;
    width: 324px;
    margin-bottom: 141px;
    padding: 122px 38px 40px 38px;
    background: #f2f2f2; }
    .products__item::after {
      display: none; }
    .products__item:nth-last-child(-n+2) {
      margin-bottom: 0; }
    .products__item:first-child::before {
      display: none; }
    .products__item:last-child {
      padding: 165px 38px 40px 38px;
      text-align: center;
      border: 1px solid #cdcdcd;
      background: #ffffff; }
      .products__item:last-child::before {
        content: "";
        top: 54px;
        left: 131px;
        width: 61px;
        height: 61px;
        background: url("../img/icon-plus.svg") no-repeat center; }
  .products__image {
    position: absolute;
    bottom: 304px;
    left: 0;
    width: 324px; }
  .products__link-image {
    margin: 0; }
  .products__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-top: 41px;
    margin-bottom: 32px; }
  .products__caption {
    width: 152px;
    margin: 0;
    margin-bottom: 22px;
    text-align: center; }
  .products__table-list {
    width: 100%; }
  .products__table-item {
    width: 100%;
    padding-bottom: 8px;
    padding-top: 6px;
    margin: 0;
    border-bottom: 1px solid #cdcdcd; }
  .products__value,
  .products__field {
    width: 65px;
    font-size: 16px;
    line-height: 16px; }
  .products__field {
    text-align: right; }
  .products__text {
    margin: 0;
    margin-bottom: 85px;
    width: 169px;
    font-size: 16px;
    line-height: 16px; }
  .products__intro {
    display: inline-block;
    vertical-align: center;
    width: 140px;
    margin: 0;
    margin-bottom: 25px; }
  .products__wrapper {
    padding-top: 59px;
    padding-bottom: 78px; }
  .products__link {
    margin: 0;
    width: 100%; } }

@media (min-width: 1300px) {
  .products {
    padding-top: 57px; }
  .products__item {
    width: 245px;
    padding-bottom: 38px;
    padding-top: 124px;
    margin-bottom: 144px; }
    .products__item:last-child::before {
      content: "";
      top: 53px;
      left: 92px; }
    .products__item:nth-last-child(-n+4) {
      margin-bottom: 0; }
  .products__link-image {
    margin-bottom: 33px; }
  .products__image {
    width: 245px; }
  .products__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-top: 67px;
    padding-bottom: 86px; } }

.programs__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 24px 20px 19px 20px;
  background-color: #f2f2f2; }
  .programs__item::before {
    content: "";
    position: absolute;
    left: 22px;
    top: 24px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #68b738; }
  .programs__item:first-child::after {
    content: "";
    position: absolute;
    left: 30px;
    top: 22px;
    width: 35px;
    height: 49px;
    background: url("../img/icon-cat-slim.svg") no-repeat; }
  .programs__item:last-child {
    margin: 0; }
    .programs__item:last-child::after {
      content: "";
      position: absolute;
      top: 35px;
      left: 13px;
      width: 67px;
      height: 28px;
      background: url("../img/icon-cat-pro.svg") no-repeat; }

.programs__title {
  margin: 6px 0 30px 71px; }

.programs__description {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 18px; }

.programs__link {
  position: relative;
  display: block;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 3px;
  text-transform: uppercase;
  cursor: pointer;
  border-top: 1px solid #cdcdcd;
  font-size: 16px;
  line-height: 16px; }
  .programs__link:focus {
    opacity: 0.3; }
  .programs__link::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 97px;
    width: 24px;
    height: 11px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat center; }

.programs__link:hover::after {
  width: 33px;
  height: 11px;
  background: url("../img/icon-right-arrow-verylong.svg") no-repeat center;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

@media (min-width: 768px) {
  .programs__item {
    padding: 75px 283px 61px 53px;
    margin-bottom: 31px; }
    .programs__item::before {
      top: 90px;
      left: auto;
      right: 60px;
      width: 200px;
      height: 200px; }
    .programs__item:first-child::after {
      top: 78px;
      left: auto;
      right: 91px;
      height: 194px;
      width: 141px; }
    .programs__item:last-child {
      padding-right: 315px; }
      .programs__item:last-child::after {
        top: 134px;
        left: auto;
        right: 27px;
        width: 268px;
        height: 113px; }
  .programs__title {
    width: 100%;
    margin: 0;
    margin-bottom: 26px; }
  .programs__description {
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 24px; }
  .programs__link {
    border: none;
    padding: 0;
    font-size: 20px;
    line-height: 20px; }
    .programs__link::after {
      top: 5px;
      left: 131px; } }

@media (min-width: 1300px) {
  .programs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .programs__item {
    width: 570px;
    margin: 0;
    padding: 77px 54px 63px 53px; }
    .programs__item::before {
      top: 48px;
      left: 52px;
      width: 100px;
      height: 100px; }
    .programs__item:first-child::after {
      top: 42px;
      left: 66px;
      height: 97px;
      width: 91px; }
    .programs__item:last-child {
      padding-right: 54px; }
      .programs__item:last-child::after {
        top: 70px;
        left: 34px;
        height: 64px;
        width: 134px; }
  .programs__title {
    margin-left: 161px;
    margin-bottom: 74px; }
  .programs__description {
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 24px; }
  .programs__link {
    padding: 0;
    font-size: 20px;
    line-height: 20px; } }

.promo {
  position: relative;
  padding-bottom: 22px;
  padding-top: 28px;
  width: 100%; }

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 450px; }

.promo__title {
  width: 250px;
  margin: 0;
  margin-bottom: 22px;
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 1; }

.promo__intro {
  width: 198px;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px; }

.promo__link {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%; }

.promo__image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: -4px; }

@media (min-width: 768px) {
  .promo {
    padding: 0;
    padding-top: 53px;
    min-height: 862px; }
  .promo__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
    width: 414px;
    margin-left: 87px;
    margin-bottom: 36px;
    color: #111111;
    text-align: left;
    font-size: 60px;
    line-height: 1; }
  .promo__intro {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 285px;
    margin-left: 87px;
    margin-bottom: 43px;
    color: #111111;
    font-size: 20px; }
  .promo__link {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 245px;
    margin-left: 89px; }
  .promo__image {
    z-index: -1;
    position: relative;
    width: 709px;
    margin-top: -80px; } }

@media (min-width: 1300px) {
  .promo {
    width: 100%;
    padding-top: 107px;
    min-height: 658px; }
  .promo__title {
    width: 414px;
    margin-left: 80px;
    margin-bottom: 37px; }
  .promo__intro {
    width: 283px;
    margin-left: 80px;
    margin-bottom: 46px; }
  .promo__link {
    font-size: 20px;
    margin-left: 80px; }
  .promo__image {
    height: 499px;
    width: 552px;
    margin-top: -366px;
    margin-left: 231px; } }

.reset {
  border: 0;
  padding: 0;
  list-style: none;
  margin: 0; }

.site-list {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px; }

.site-list__item {
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
  border-bottom: 1px solid #cdcdcd; }
  .site-list__item:first-child {
    border-top: 1px solid #cdcdcd; }

.site-list__link {
  display: block;
  padding: 23px 0; }
  .site-list__link:hover {
    color: rgba(17, 17, 17, 0.6); }
  .site-list__link:focus {
    color: rgba(17, 17, 17, 0.3); }

@media (min-width: 768px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    color: #222222;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400; }
  .site-list__item {
    margin: 0;
    border: none; }
    .site-list__item:first-child {
      border: none; }
    .site-list__item--active {
      position: relative; }
      .site-list__item--active::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -8px;
        left: 0;
        height: 3px;
        background: #68b738; }
  .site-list__link {
    padding: 0; } }

@media (min-width: 1300px) {
  .site-list {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400; }
  .site-list__item {
    margin: 0; }
    .site-list__item::after {
      content: "";
      right: 0;
      bottom: -12px;
      left: 0;
      height: 3px;
      background: #68b738; }
    .site-list__item--active-firstly::after {
      background: #ffffff; }
  .site-list__link {
    color: #ffffff; }
    .site-list__link:hover {
      color: rgba(255, 255, 255, 0.6); }
    .site-list__link:focus {
      color: rgba(255, 255, 255, 0.3); }
    .site-list__link--primary {
      color: #111111; }
      .site-list__link--primary:hover {
        color: rgba(17, 17, 17, 0.6); }
      .site-list__link--primary:focus {
        color: rgba(17, 17, 17, 0.3); } }

.stocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 65px 61px 41px 61px;
  background: url("../img/gift-photo-mobile1x.jpg") no-repeat center;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .stocks {
      background-image: url("../img/gift-photo-mobile2x.jpg"); } }

.stocks__image {
  margin-bottom: 64px; }

.stocks__info {
  width: 159px;
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-family: "ArialMT", sans-serif;
  font-size: 16px;
  line-height: 20px; }

@media (min-width: 768px) {
  .stocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 66px 125px 72px 91px;
    background: url("../img/gift-photo-tablet1x.jpg") no-repeat center;
    background-size: cover; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .stocks {
      background-image: url("../img/gift-photo-tablet2x.jpg"); } }

@media (min-width: 768px) {
  .stocks__image {
    margin: 0; } }

@media (min-width: 1300px) {
  .stocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 289px;
    width: 245px;
    margin: 0;
    padding: 65px 61px 43px 61px;
    background: url("../img/gift-photo-desktop1x.jpg") no-repeat;
    background-size: cover; } }
  @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 1.5dppx) {
    .stocks {
      background-image: url("../img/gift-photo-desktop2x.jpg"); } }

.subtitle {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400; }

@media (min-width: 768px) {
  .subtitle {
    font-size: 36px; } }

.title-description {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400; }

@media (min-width: 768px) {
  .title-description {
    font-size: 20px;
    line-height: 20px; } }

.title {
  font-size: 36px;
  font-weight: 400; }

@media (min-width: 768px) {
  .title {
    font-size: 60px; } }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 137px;
  margin: 0 auto; }

.social__item {
  width: 22px;
  -ms-flex-item-align: center;
      align-self: center; }

.social__icon {
  fill: #444444; }
  .social__icon--vkontakte {
    width: 22px;
    height: 12px; }
  .social__icon--instagram {
    width: 17px;
    height: 17px; }
  .social__icon--facebook {
    width: 10px;
    height: 19px; }
  .social__icon:hover {
    fill: #68b738; }
  .social__icon:focus {
    fill: #68b738;
    opacity: 0.3; }

@media (min-width: 768px) {
  .social__list {
    width: 100%; }
  .social__item {
    width: 29px; }
  .social__icon--vkontakte {
    width: 30px;
    height: 16px; }
  .social__icon--instagram {
    width: 23px;
    height: 23px; }
  .social__icon--facebook {
    width: 14px;
    height: 28px; } }

.main-nav {
  width: 100%; }

.main-nav__toggle {
  position: absolute;
  top: -11px;
  right: 0;
  z-index: 2;
  display: block;
  width: 65px;
  height: 65px;
  cursor: pointer;
  border: none;
  background-color: transparent; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 34%;
  left: 31%;
  width: 25px;
  height: 2px;
  background-color: #222222;
  -webkit-box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
          box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222; }

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: -11px;
  right: 0; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 19px;
    width: 25px;
    height: 2px;
    background-color: #222222; }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main-nav--closed .main-nav__list {
  display: none; }

@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none; } }

@media (min-width: 768px) {
  .main-nav {
    width: 440px;
    padding: 0; }
  .main-nav__toggle {
    display: none; } }

@media (min-width: 1300px) {
  .main-nav {
    width: 479px; } }

.page {
  overflow: hidden; }

.page__title {
  margin-top: 17px;
  margin-bottom: 30px; }

.page__intro {
  width: 227px;
  margin-bottom: 39px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px; }

@media (min-width: 768px) {
  .page__title {
    margin: 39px 0; }
    .page__title--tablet {
      margin-left: -40px; }
  .page__intro {
    margin: 0;
    margin-bottom: 67px;
    width: 350px;
    font-size: 20px;
    line-height: 30px; } }

@media (min-width: 1300px) {
  .page__title {
    margin-top: 57px;
    margin-bottom: 39px; }
    .page__title--tablet {
      margin-left: 0; }
  .page__intro {
    margin-bottom: 66px; } }

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: auto; }
  .container--secondly {
    padding: 0; }

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px; }
    .container--secondly {
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px; }
    .container--thirdly {
      padding-right: 63px;
      padding-left: 70px; } }

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
    padding-left: 40px;
    padding-right: 40px; }
    .container--secondly {
      max-width: 1300px;
      padding-left: 40px;
      padding-right: 40px; }
    .container--thirdly {
      max-width: 1300px;
      padding-left: 40px;
      padding-right: 40px; } }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

img {
  height: auto; }

body {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #ffffff;
  min-width: 320px;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #111111; }

/*# sourceMappingURL=style.css.map */
