@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2");
  src: url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2");
  src: url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ArialMT";
  src: url("../fonts/ArialMT.woff2") format("woff2");
  src: url("../fonts/ArialMT.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
