@import "fonts.scss";
@import "visually-hidden.scss";
@import "variables.scss";
@import "./blocks/advantages.scss";
@import "./blocks/button.scss";
@import "./blocks/contacts.scss";
@import "./blocks/copyright.scss";
@import "./blocks/example.scss";
@import "./blocks/extra.scss";
@import "./blocks/extra-products.scss";
@import "./blocks/form.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/page-header.scss";
@import "./blocks/products.scss";
@import "./blocks/programs.scss";
@import "./blocks/promo.scss";
@import "./blocks/reset.scss";
@import "./blocks/site-list.scss";
@import "./blocks/stocks.scss";
@import "./blocks/subtitle.scss";
@import "./blocks/title-description.scss";
@import "./blocks/title.scss";
@import "./blocks/social.scss";
@import "./blocks/products-wrapper.scss";
@import "./blocks/main-nav.scss";


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: $white;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #111111;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .container {
    padding-left: 30px;
    padding-right: 30px;

    &--secondary {
      padding-left: 71px;
      padding-right: 67px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-left: 110px;
    padding-right: 110px;

    &--secondary {
      padding-left: 113px;
      padding-right: 110px;
    }
  }
}
