@import "fonts.scss";
@import "mixin.scss";
@import "visually-hidden.scss";
@import "variables.scss";
@import "./blocks/site-list.scss";
@import "./blocks/promo.scss";
@import "./blocks/page-header.scss";
@import "./blocks/programs.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/contacts.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/products.scss";
@import "./blocks/extra-products.scss";
@import "./blocks/stocks.scss";
@import "./blocks/form.scss";

body {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: $white;
}

a {
  text-decoration: none;
  color: #111111;
}

.button {
  font-size: 16px;
  line-height: 20px;
  color: $white;
  background-color: $green;
  text-transform: uppercase;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.subtitle {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
}

.title-description {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
