$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.3);
$white-middle: rgba(255, 255, 255, 0.6);
$grey: #f2f2f2;
$grey2: #cdcdcd;
$grey-light: rgba(205, 205, 205, 0.5);
$grey3: #eaeaea;
$grey4: #bababa;
$white-three: #ebebeb;
$white-five: #ededed;
$green: #68b738;
$grass: #5eaa2f;
$brown: #444444;
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$black: #111111;
$black2: #222222;
$black-middle: rgba(17, 17, 17, 0.6);
$black-light: rgba(17, 17, 17, 0.3);
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$retina-dppx: 1.5dppx;
